# Data and model directories
data/flickr8k/
data/flickr30k/
data_output/
model_outputs/
visualizations/

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.egg-info/

# Jupyter Notebook files
notebook.ipynb
notbook.ipynb
*.ipynb
.ipynb_checkpoints/
*.ipynb_checkpoints

# Visualization files
visualize_model.py
visualizations/
*.png

# Batch files
*.bat