# Data directories
data/flickr8k/
data/flickr30k/
data_output/
model_outputs/
visualizations/

# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Visualization script and outputs
visualize_model.py
visualizations/
*.png

# Jupyter Notebook checkpoints
notbook.ipynb
notbook.ipynb_checkpoints
*.ipynb_checkpoints